<h3 class="title-color">Pagina principal</h3>

<div>
  <h2>Bienvenido</h2>
  <h1>Lista de Compras:</h1>
  <ul>
      {{#each Products}}
        <li>title: {{this.title}} - description: {{this.description}} - Price: {{this.Price}} - thumbnail: {{this.thumbnail}} - code: {{this.code}} - stock: {{this.stock}} - status: {{this.status}} category: {{this.category}} - Id: {{this.Id}} </li>
      {{/each}}
  </ul>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>