<h3 class="title-color">Pagina principal</h3>

<div>
  <h2>Bienvenido</h2>
  <h1>Lista de Compras en Tiempo Real:</h1>
  <ul>
      {{#each Products}}
    <form id="formulario" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input class="form-control" type="text" id="texto" placeholder="Mensaje">
        </div>
            
        <button type="submit" class="btn btn-primary mb-2">Enviar</button>
    </form>

        <li>title: {{this.title}} - description: {{this.description}} - Price: {{this.Price}} - thumbnail: {{this.thumbnail}} - code: {{this.code}} - stock: {{this.stock}} - status: {{this.status}} category: {{this.category}} - Id: {{this.Id}} </li>
      <label for="title">title</label>
      <input type="text" class="data" name="title">
      <label for="description">description</label>
      <input type="text" class="data" name="description">
      <label for="Price">Price</label>
      <input type="number" class="data" name="Price">
      <label for="thumbnail">thumbnail</label>
      <input type="text" class="data" name="thumbnail">
      <label for="code">code</label>
      <input type="number" class="data" name="code">
      <label for="stock">stock</label>
      <input type="number" class="data" name="stock">
      <label for="status">status</label>
      <input type="text" class="data" name="status">
      <label for="category">category</label>
      <input type="text" class="data" name="category">
      <label for="Id">Id</label>
      <input type="number" class="data" name="Id">
      {{/each}}
  </ul>
</div>